
<table>
    <thead>
        <tr>
            <th>نام کار</th>
            <th>الویت</th>
            <th>پین کردن</th>
            <th>تغییر وضعیت انجام</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemsService.getItems()" [ngClass]="{'done-item':item.done}" class="{{item.color}}">
            <td [innerText]="item.Name"></td>
            <td [innerText]="item.priority|priority"></td>
            <td><app-pin-btn [item]="item"></app-pin-btn></td>
            <td><app-done-btn [item]="item"></app-done-btn></td>
        </tr>
    </tbody>
</table>
<button [routerLink]="'/addItem'">+</button>
<select [formControl]="colorOption" class="selectdiv">
    <option value="red">قرمز</option>
    <option value="blue">آبی</option>
</select>
<button (click)="filterHandler()">اعمال فیلتر</button>
<button (click)="clearFilterHandler()">پاک کردن فیلتر</button>